@font-face {
  font-family: 'font';
  /* src: url('/fonts/font.ttf'); */
  /* src: url('/fonts/FZXiJinLJW.ttf'); */
  src: url('//cdn2.1qa.link/FZXiJinLJW.ttf');
}

body {
  background-color: #e6e6e6;
}

#app {
  font-family: 'font';
}

.days {
  display: flex;
  position: absolute;
  top: 8vh;
  right: 8vh;
}

.days > div {
  display: flex;
}

.days > div:last-child {
  margin-left: 16px;
}

.item {
  writing-mode: vertical-rl;
  font-size: 8vw;
  color: #333;
  text-shadow: 0 0 8px rgba(0, 0, 0, .2);
  display: flex;
  align-items: flex-end;
  line-height: 1;
}

@media (orientation:landscape) {
  .item {
    writing-mode: horizontal-tb;
  }
  .days {
    display: block;
    top: 8vh;
    left: 8vh;
    right: auto;
  }
  .days > div:last-child {
    margin-left: 0;
    margin-top: 12px;
  }
}

.poem {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #666;
}

@media screen and (min-width: 720px) {
  .item {
     font-size: 57.6px;
  }
}